

body {
    background-color: #bacbdb;
}

h1 {
    padding-top: 15px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}

#copyright-container {
    position: fixed; /* Cambia a 'absolute' si prefieres que se posicione relativo al contenido */
    bottom: 0;
    left: 0;
    width: 100%;
    background-color: #f9f9f9;
    padding: 10px;
    text-align: center;
    font-size: 12px;
  }

footer {
    margin-bottom: 30px;
    
}

.logo{
   
    /* Logo */

width: 120px;
height: 48px;

}

.descripcion, label {
    text-align: center;
    font-family: "Roboto", sans-serif;
}

.container {
    height: 500px;
    padding-top: 20px;
    padding-bottom: 20px;
}

.text-box1 {
    
    width: 50%;
    float: left;
    display: grid;
    place-items: center;
    
}

.text-box2 {
    width: 50%;
    float: right;
    display: grid;
    place-items: center;
}

#input-text,
#encrypted-text {
    width: 80%;
    border-radius: 4px;
}

#boton-encriptar,
#boton-copiar {
    color:#f9f9f9;
    position: flex;
    width: 328px;
    height: 67px;
    background: #21235b;
    border-radius: 24px;
    font-family: "Roboto", sans-serif;
}
#boton-desencriptar{
    color:#21235b;
    position: flex;
    width: 328px;
    height: 67px;
    background: #d8dfe8;;
    border-radius: 24px;
    font-family: "Roboto", sans-serif;
}


/* CSS para movil */

@media screen and (max-width: 480px) {
    .text-box1, .text-box2{
        width: 100%;
    }

    .text-box1 > label, .text-box2 > label{
        margin: 1em;
    }

    #boton-desencriptar, #boton-copiar{
        margin-bottom: 1em;
    }
}

/* Tablet */

@media screen and (min-width: 768px) and (max-width: 1023px) {
    .text-box1, .text-box2{
        width: 100%;
    }

    .text-box1 > label, .text-box2 > label{
        margin: 1em;
    }

    #boton-desencriptar, #boton-copiar{
        margin-bottom: 1em;
    }
}